.TodoItem{
  display : flex;
  justify-content: center;
  align-items: center;
  color: var(--text-main);
  
  gap: 20px;
  padding: 20px;   
  border-radius: 10px;
  background-color: var(--primary);
  backdrop-filter: blur(15px);
  margin-bottom: 12px;
}

.TodoItem .text{
  flex: 1;
}

.TodoItem button{
  cursor : pointer;
  padding: 5px 10px;  

  background-color: var(--accent);
  color: var(--text-main);
  border-radius: 10px;
  font-size:14px;
  border:none;
}

.TodoItem.done .text {
  text-decoration: line-through; 
  color: var(--accent);                     
}

.TodoItem.done {
  background-color: var(--used);  
}