.App{
  width : 500px;
  height: auto;
  margin : 0 auto;
  top: 50%;
  left: 50%;
  

  background-color: rgba(255,255,255,0.1);
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 100px;  
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
  backdrop-filter: blur(15px);

  display:flex;
  flex-direction: column;
  gap: 10px;
  
}